<!DOCTYPE html>
<html>
<head>
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <h2>Відновлення паролю</h2>
    <p>Ви отримали цей лист, тому що ми отримали запит на скидання пароля для вашого облікового запису.</p>
    <p>Будь ласка, натисніть на кнопку нижче, щоб встановити новий пароль:</p>
    <a href="{{ reset_url }}" class="button" style="color: white;">Скинути пароль</a>
    <p>Якщо ви не робили цього запиту, просто ігноруйте цей лист.</p>
    <p>Дякуємо!</p>
</body>
</html>
