POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=test_task

REDIS_URL=redis://localhost:6379/1

SECRET_KEY="django-insecure-(2s1kb2m=@ck5r49r2cf=2mf%0reaqbpt9@2z8cys1w5ai$#4d"

DEBUG=True

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=webmaster@localhost

TEST_USER1_USERNAME=user1
TEST_USER1_EMAIL=user1@example.com
TEST_USER1_PASSWORD=P3HWptGG097fLf6U7502kzaPDDbG2ZJi4Rj7pP97cAs=

TEST_USER2_USERNAME=user2
TEST_USER2_EMAIL=user2@example.com
TEST_USER2_PASSWORD=l+A04hA+YuIIEcMU7Dihz9W7iBsNrU/AdZf4k0GHdzc=
